<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Alois URL Shortener</title>
    <style>
        textarea {
            resize: none;
        }
        @media only screen and (max-width: 900px) {
            textarea {
                width: 90%;
            }
        }
    </style>
</head>
<body>
<form action="/shortener/add" method="POST">
    <textarea name="url" id="" cols="50" rows="15"></textarea><br>
    <button type="submit">Shorten!</button>
</form>
</body>
</html>